#Ignore VSCODE
.vscode/*

*.ignoreme
temp

!.gitignore

# skip all non-binaries in stellations/bin
stellations/bin/*
!stellations/bin/*.c

# skip all plantri and associated files
plantri*
*.pl
*.pl.txt
*.out
*.stderr
*.stdout
*.paths

# re-enable pl files in example dir
!/stellations/example_graphs/*

# skip all binaries
!/**/
*.exe

# skip python cache files
__pycache__
*.pyc

# skip all gzips
*.tar.gz